.nav{
    &__link{
        text-decoration: none;
        color: white !important;
        
    }
    &__link{
        text-decoration: none;
        color: white !important;
    }
}
.mem{
    color: white !important;
    text-decoration: none;
}